<footer class="ftco-footer ftco-bg-dark ftco-section" id="footermain">
      <div class="container" >
        <div class="row mb-5" style="margin-bottom: 0px !important;">
          <div class="col-md">
            <div class="ftco-footer-widget mb-6">
              <h2 class="ftco-heading-2">
              	<img src="images/logo.png" class="logo">
              Disaster Saver</h2>
              <p>Predicting disasters and helping in evacuation</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-6 ml-md-6">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-6">
              <h2 class="ftco-heading-2">Natural Disasters</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Earthquake</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Flood</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Tsunami</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Snow Storm</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Heat Wave</a></li>
                 <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Cyclone</a></li>
              </ul>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="icon-heart" aria-hidden="true"></i
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>