
    
    <section class="home-slider js-fullheight owl-carousel bg-white">
      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          	<div class="one-third order-md-last img js-fullheight" style="background-image:url(/images/bg_1.jpg);">
          	</div>
	          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">

	          	<div class="text">
		            <h1 class="mb-4">Predicting Disasters</h1>
		            <p>Accurate and precise prediction of timing and location of Disasters thus saving lives.</p>
		            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Disaster Prediction</a></p>
	            </div>
	          </div>
        	</div>
        </div>
      </div>

      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          	<div class="one-third order-md-last img js-fullheight" style="background-image:url(/images/bg_2.jpg);">
          	</div>
	          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
	          	<div class="text">
		            <h1 class="mb-4">Helping in Evacuation</h1>
		            <p>Simplifying the actual process and providing route using maps to the nearest safe locations for a particular Disaster.</p>
		            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Disaster Prediction</a></p>
	            </div>
	          </div>
        	</div>
        </div>
      </div>
    </section>
		
		<!-- 1st  -->

		<section class="ftco-section ftc-no-pb">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-5 p-md-5 img img-2" style="background-image: url(/images/bg_3.jpg);">
					</div>
					<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section mb-5 pl-md-5">
	          	<div class="pl-md-5 ml-md-5">
		          	<span class="subheading subheading-with-line"><small class="pr-2 bg-white"></small></span>
		            <h1 class="mb-4">EARTHQUAKE</h1>
	            </div>
	          </div>
	          <div class="pl-md-5 ml-md-5 mb-5">
						<h3>What to Do During an Earthquake</h3>
						<ul>
							<li>Stay calm! If you're indoors, stay inside. If you're outside, stay outside.</li>
							<li>If you're indoors, stand against a wall near the center of the building, stand in a doorway, or crawl under heavy furniture (a desk or table). Stay away from windows and outside doors.</li>
							<li>If you're outdoors, stay in the open away from power lines or anything that might fall. Stay away from buildings (stuff might fall off the building or the building could fall on you).</li>
							<li>Don't use matches, candles, or any flame. Broken gas lines and fire don't mix.</li>
							<li>If you're in a car, stop the car and stay inside the car until the earthquake stops.</li>
							<li>Don't use elevators (they'll probably get stuck anyway).</li>
						</ul>
							<p><a href="/images/maps/earthquake.html" class="btn-custom">Get a Safe Location <span class="ion-ios-arrow-forward"></span></a></p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- 2nd  -->

		<section class="ftco-section ftc-no-pb">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading subheading-with-line"><small class="pr-2 bg-white"></small></span>
									<h1 class="mb-4" id="id1">FLOOD</h1>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
							<h3>What to Do During a Flood</h3>
							<ul>
								<li>Seek higher ground. Do not wait for instructions.</li>
								<li>Be aware of flash flood areas such as canals, streams, drainage channels.</li>
								<li>Be ready to evacuate.</li>
								<li>If instructed, turn off utilities at main switches and unplug appliances - do not touch electrical equipment if wet.</li>
								<li>If you must leave your home, do not walk through moving water. Six inches of moving water can knock you off your feet. Use a stick to test depth.</li>
								<li>Do not try to drive over a flooded road. If your car stalls, abandon it immediately and seek an alternate route.</li>
							</ul>
								<p><a href="/images/maps/flood.html" class="btn-custom">Get a Safe Location <span class="ion-ios-arrow-forward"></span></a></p>
							</div>
						</div>
						<div class="col-md-5 p-md-5 img img-2" style="background-image: url(/images/bg_4.jpg);">
						</div>
					</div>
				</div>
			</section>


		<!-- 3rd  -->

		<section class="ftco-section ftc-no-pb">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2" style="background-image: url(/images/bg_5.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading subheading-with-line"><small class="pr-2 bg-white"></small></span>
									<h1 class="mb-4">TSUNAMI</h1>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
							<h3>What to Do During an Tsunami</h3>
							<ul>
								<li>First, protect yourself from an Earthquake. Drop, Cover, then Hold On.</li>
								<li>Get to high ground as far inland as possible.</li>
								<li>Be alert to signs of a tsunami, such as a sudden rise or draining of ocean waters.</li>
								<li>Listen to emergency information and alerts.</li>
								<li>Evacuate: DO NOT wait! Leave as soon as you see any natural signs of a tsunami or receive an official tsunami warning.</li>
								<li>If you are in a boat, go out to sea.</li>
							</ul>
								<p><a href="/images/maps/tsunami.html" class="btn-custom">Get a Safe Location <span class="ion-ios-arrow-forward"></span></a></p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- 4th  -->

		<section class="ftco-section ftc-no-pb">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading subheading-with-line"><small class="pr-2 bg-white"></small></span>
									<h1 class="mb-4" id="id1">SNOWSTROM</h1>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
							<h3>What to Do During a Snowstrom</h3>
							<ul>
								<li>Inspect and/or clean your chimney before winter.</li>
								<li>Get a battery-operated weather radio.</li>
								<li>Stock up supplies in your first-aid kit.</li>
								<li>Learn first-aid for hypothermia and frostbite.</li>
								<li>Purchase sand, ice melt, or kitty litter for icy surfaces.</li>
								<li>Make sure your fire extinguishers work.</li>
							</ul>
								<p><a href="/images/maps/snow.html" class="btn-custom">Get a Safe Location <span class="ion-ios-arrow-forward"></span></a></p>
							</div>
						</div>
						<div class="col-md-5 p-md-5 img img-2" style="background-image: url(/images/bg_6.jpg);">
						</div>
					</div>
				</div>
			</section>

		<!-- 5th  -->

		<section class="ftco-section ftc-no-pb">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-md-5 p-md-5 img img-2" style="background-image: url(/images/bg_7.jpg);">
						</div>
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading subheading-with-line"><small class="pr-2 bg-white"></small></span>
									<h1 class="mb-4">HEATWAVE</h1>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
							<h3>What to Do During an HeatWave</h3>
							<ul>
								<li>Drink plenty of water.</li>
								<li>Stay out of direct sunlight.</li>
								<li>Stay in an air-conditioned room, if possible.</li>
								<li>If you have to be outdoors, wear loose-fitting clothing and a hat.</li>
								<li>Never leave people or animals in a hot car.</li>
								<li>Keep an eye on your neighbours, friends, family and pets.</li>
							</ul>
								<p><a href="/images/maps/heat.html" class="btn-custom">Get a Safe Location <span class="ion-ios-arrow-forward"></span></a></p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- 6th  -->

		<section class="ftco-section ftc-no-pb">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-md-7 wrap-about pb-md-5 ftco-animate">
							<div class="heading-section mb-5 pl-md-5">
								<div class="pl-md-5 ml-md-5">
									<span class="subheading subheading-with-line"><small class="pr-2 bg-white"></small></span>
									<h1 class="mb-4" id="id1">CYCLONE</h1>
								</div>
							</div>
							<div class="pl-md-5 ml-md-5 mb-5">
							<h3>What to Do During a Cyclone</h3>
							<ul>
								<li>Turn off all electricity, gas and water and unplug all appliances.</li>
								<li>Keep your Emergency Kit close at hand.</li>
								<li>Bring your family into the strongest part of the house.</li>
								<li>Keep listening to the radio for cyclone updates and remain indoors until advised.</li>
								<li>If the building begins to break up, immediately seek shelter under a strong table or bench or under a heavy mattress.</li>
								<li>Beware of the calm eye of the cyclone. Some people venture outdoors during the eye of the cyclone, mistakenly believing that the cyclone has passed. Stay inside until you have received official advice that it is safe to go outside.</li>
							</ul>
								<p><a href="/images/maps/cyclone.html" class="btn-custom">Get a Safe Location <span class="ion-ios-arrow-forward"></span></a></p>
							</div>
						</div>
						<div class="col-md-5 p-md-5 img img-2" style="background-image: url(/images/bg_8.jpg);">
						</div>
					</div>
				</div>
			</section>

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_3.jpeg);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row d-md-flex align-items-center justify-content-end">
    			<div class="col-lg-10">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="5">0</strong>
		                <span>Years of Experienced</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="315">0</strong>
		                <span>Happy Users</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="364">0</strong>
		                <span>Lives Saved</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="38">0</strong>
		                <span>Disasters Predicted</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
		</section>
		
    <section class="ftco-services">
			<div class="container">
				<div class="row justify-content-start mb-5 pb-5">
          <div class="col-md-4 heading-section ftco-animate">
            <h2 class="mb-4">Our Prediction Model</h2>
          </div>
          <div class="col-md-8 pl-md-5 ftco-animate">
          	<div class="pl-md-4 border-line">
	          	
          	</div>
          </div>
        </div>
				<div class="row">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-idea"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Data Analysis</h3>
                <p>Previous Year Data is analysed for if any natural disaster has occured their or not.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-compass-symbol"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Weather Prediction</h3>
                <p>Weather APIs are used to precisely predit the weather for next 24hrs.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-layers"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Disaster Prediction</h3>
                <p>Based on these two parameters predictions are made if natural disaster is going to occur in next 24hrs.</p>
              </div>
            </div>      
          </div>
        </div>
    	<div class="container-wrap">
    		<div class="row no-gutters">
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="/images/r1.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span></span>
	    					<h3><a href="project.html">Rescue</a></h3>
	    				</div>
	    				<a href="/images/r1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="/images/bg_2.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span></span>
	    					<h3>Rescue</h3>
	    				</div>
	    				<a href="/images/bg_2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="/images/bg_6.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span></span>
	    					<h3>Rescue</h3>
	    				</div>
	    				<a href="/images/bg_6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="/images/bg_4.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span></span>
	    					<h3>Rescue</h3>
	    				</div>
	    				<a href="/images/bg_4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="/images/bg_5.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Landscape Design</span>
	    					<h3>Rescue</h3>
	    				</div>
	    				<a href="/images/bg_5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="/images/r2.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span></span>
	    					<h3>Rescue</h3>
	    				</div>
	    				<a href="/images/r2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="/images/bg_4.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span></span>
	    					<h3>Rescue</h3>
	    				</div>
	    				<a href="/images/bg_4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="/images/r4.jpg" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span></span>
	    					<h3>Rescue</h3>
	    				</div>
	    				<a href="/images/r4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>